@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    .topbarMenuItem{
        @apply text-[0.75rem] flex items-center mr-3 hover:text-[#3f4347];
    }

    .containerWidth{
        @apply w-[100%] max-w-[100%] sm:w-[540px] sm:max-w-[540px] md:w-[720px] md:max-w-[720px] lg:w-[960px] lg:max-w-[960px] xl:w-[1140px] xl:max-w-[1140px] 2xl:w-[1440px] 2xl:max-w-[1440px] mx-auto
    }

    .customAnimation{
        @apply ease-in duration-300
    }

    .hoverEffect{
        @apply hover:text-[#D42D2A]
    }

    .mainMenuItem{
        @apply py-4 px-4 hover:bg-[#ad2220] text-white font-[700] ease-in duration-300 text-[0.8125rem]
    }

    .categoryListItem{
        @apply py-[12px] px-4 text-gray-600 text-[0.875rem] font-medium border-gray-200 border-b-[1px] hover:bg-[#fff5d9] ease-in duration-300 flex justify-start items-center gap-2
    }

    .categoryFlashItem{
        @apply py-[12px] px-4 font-medium border-gray-200 border-b-[1px] border-r-[1px] ease-in duration-300 hover:shadow-2xl
    }

    .hoverEffectTwo{
        @apply translate-y-[15px] opacity-0 ease-in duration-300
    }

    .categoryFlashItem:hover .hoverEffectTwo{
        @apply translate-y-[0px] opacity-100
    }

    .categoryDealItem{
        @apply py-[12px] px-4 font-medium ease-in duration-300
    }

    .categoryDealItem:hover .pulseEffect{
        @apply animate-pulse
    }

    /* footer section design */

    .footerIconHoverEffect{
        @apply hover:translate-y-[5px] ease-in duration-300
    }

    .footerMenuItem{
        @apply py-2 block text-[13px] text-white after:absolute after:content-[''] after:bottom-[-5px] after:bg-[#fff] after:h-[1px] after:left-0 after:right-0 after:rounded-[2px] ease-in duration-300 after:scale-x-0 hover:after:scale-x-[1] hover:after:origin-left
    }

    /* product card design */

    .box {
        box-shadow:
        232px auto 0 2px #fff,
        -232px -100% 0 2px #fff,
        0 0 0 3px tomato;
        transition: 0.2s 0.18s 0.16s 0.14s;
    }
    
    .box:hover {
        box-shadow:
        232px 3px 0 -3px #fff,
        -0px 3px 0 -3px #fff,
        0 0 0 3px tomato;
        transition: 0.3s;
    }

    .box:hover::before,
    .box:hover::after {
        width: 232px;
        transition: 0.2s 0.18s 0.16s 0.14s;
    }

    .cartBtn{
        @apply text-[13px] font-bold block text-center text-white h-[34px] origin-bottom
    }

    .box:hover .cartBtn{
        @apply scale-y-100 opacity-100 translate-y-[0px] 
    }

}

